<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta at aliquam, sed quaerat blanditiis
        mollitia hic fugiat, error ea facilis laboriosam illo accusamus voluptates totam repudiandae voluptatum beatae
        labore. Sequi!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ullam officia fugit minima quam autem earum facilis
        in quibusdam rem nam. Beatae est placeat repellat veritatis exercitationem corporis, ipsa dolorem!</p>
    <a href="www.github.com/fabio-gz" class="btn btn-primary">Github</a>
</div>